<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <div>
      <h1>GL Bookmark Manager</h1>
    </div>
  </mat-toolbar-row>

</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav  #sidenav [opened]="true" mode="side">
    <mat-selection-list [multiple]="false" (selectionChange)="onGroupSelect($event)">
      <mat-list-option [value]="'All'" [selected]="true">All</mat-list-option>
      <mat-list-option *ngFor="let group of groups" [value]="group">
       <span class="no-wrap" [title]="group">
         {{group}}
       </span>
      </mat-list-option>
    </mat-selection-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div >
      <ng-container *ngIf="(bookmarks$ | async) as bookmarks">
        <app-bookmark-list></app-bookmark-list>
      </ng-container>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
